<div id="left-col">
  Currently Playing On: {{player.name}}
  <div id ="player-wrapper">
    <div id="current-song">
      <div id="album-cover">
        <img src="{{currentSong.album_url}}" style="height:300px;width:300px">
      </div>
      <div id="current_song_wrapper">
        <div id="current-song-name">
          {{currentSong.name}}
        </div>
        <div id="current-artist-names">
          {{currentSong.artists}}
        </div>
        <div id="progress-bar-wrapper">
          {{currentSong.progress}}
          <!-- TODO implement progess bar-->
        </div>
      </div>
    </div>
  </div>

  <div id="action-wrapper">
    <div id="actions">
      <button ng-click="previous()" class="btn btn-default" id="previous-music">previous</button>
      <button ng-hide="currentSong.is_playing" ng-click="play()" class="btn btn-default" id="play-music">play</button>
      <button ng-show="currentSong.is_playing" ng-click="pause()" class="btn btn-default" id="pause-music">pause</button>
      <button ng-click="next()" class="btn btn-default" id="next-music">next</button>
    </div>
  </div>
</div>
